@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #75C8DA;
  --color-background: #000000;

  --font-sans: 'Roboto', ui-sans-serif, system-ui;
}
